@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=cyrillic');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'PT Sans', sans-serif;
}
main {
  background: url(img/bg-student.png) no-repeat fixed;
  background-size: cover;
}
header {
  height: 10vh;
  background: #E1E1E1;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
header .logo {
  background: url(img/logo_0.png);
  width: 189px;
  height: 63px;
}
header nav ul {
  display: flex;
  width: 50vw;
  flex-direction: row;
  justify-content: space-around;
}
header nav ul li {
  list-style-type: none;
}
header nav ul li a {
  display: inline-block;
  width: 231px;
  height: 42px;
  box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.16);
  border: solid 2px #ec6f31;
  color: #ec6f31;
  font-size: 25px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
}
section.banner {
  height: 90vh;
}
section.banner h1 {
  font-size: 50px;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.34;
  letter-spacing: 20px;
  text-align: left;
  color: #ec6f31;
}
section.banner p {
  font-size: 40px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  width: 550px;
}
section.practice,
section.company-profit {
  background: #ffffff;
  height: 50vh;
}
section.student-profit,
section.offer {
  background: #E1E1E1;
  height: 50vh;
}
section.contact-us {
  height: 90vh;
}
section.map {
  height: 50vh;
}
footer {
  height: 10vh;
  background: #484848;
  display: flex;
}
footer .logo {
  background: url(img/footer_logo.png);
  width: 118px;
  height: 54px;
}
footer p.copy-right {
  width: 278px;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.35;
  letter-spacing: normal;
  text-align: center;
  color: #E1E1E1;
}
h2 {
  color: #484848;
  font-size: 50px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
}
